<div class="card">
    <div class="card-body text-center">
        <h2 class="text-center">Hi!</h2>
        <div class="py-0">
            Welcome to my site, <strong>Brewdude</strong>.tech, that serves as my personal portfolio,
            showcase, and just about anything that involves any software I've had my hands in. My name is
            Joey Mckenzie and I'm a software developer that specializes in the Microsoft .NET stack with
            an unhealthy obsession of craft beer, amatuering outdoorsmen, Crossfitter non-extraordinaire,
            and science nerd.
        </div>

        <div class="d-flex flex-row justify-content-center">
            <div class="py-3" style="width: 600px;">
                <div class="d-flex flex-row justify-content-around">
                    <a href="http://www.griffithobservatory.org/" target="_blank">
                        <img class="img-fluid rounded" style="max-height: 230px;" src="img/me.jpg" />
                    </a>
                    <a href="https://www.fallriverbrewing.com/" target="_blank">
                        <img class="img-fluid rounded" style="max-height: 230px;" src="img/fallriver.jpg" />
                    </a>
                </div>
            </div>
        </div>

        <div class="p-3">
            I'm a 27 year old fullstack Software Engineer born and raised in Northern California. I studied math, physics, and astronomy at San Diego State where
            I graduated with a degree in Astrophysics with a minor in Mathematics. Since then, I've worked as an enterprise developer
            in several facets, including for the Department of Defense in San Diego, an insurance company you've probably heard of from Sacramento, and most recently
            at one of the largest U.S. land owning forest products companies here in Redding, California. I've had a hand in engineering large enterprise software systems 
            in a variety of roles traversing the stack, with experience using technologies in Java, Spring, Spring Boot, JEE, JavaScript/TypeScript, AngularJS, Angular 2+, DB2,
            and SQL Server professionally. Nowadays, you'll find me writing modern RPG on the IMB iSeries AS/400 and managing DB2 databases from 9 to 5.
        </div>

        <div class="p-2">
            While my day job has always involved Java, IBM, and TypeScript-related technologies, my true passion is the .NET stack with C# and .NET Core. Most days you'll find me
            fiddling with various open source .NET libraries, working on a variety of .NET Core applications, and breaking existing codebases by enabling nullable reference types. I'm 
            most excited about web development with things like Blazor and ASP.NET Core nowadays and have an unhealthy obsession with Dockerizing (if that's a word) aything
            and everything I can.
        </div>

        <div class="py-2">
            <div class="d-flex flex-row justify-content-center">
                <div class="px-2">
                    <i onclick="window.open('https://linkedin.com/in/JoeyMckenzie')" class="fab fa-linkedin fa-3x"></i>
                </div>
                <div class="px-2">
                    <i onclick="window.open('https://github.com/joey32793')" class="fab fa-github fa-3x"></i>
                </div>
                <div class="px-2">
                    <i onclick="window.open('https://registry.jsonresume.org/joey32793')" class="fas fa-3x fa-file-invoice"></i>
                </div>
            </div>
        </div>

    </div>
</div>