<div class="card text-center">
    <div class="card-header">
        <h2><code>Connect</code></h2>
    </div>
    <div class="card-body">
        <div class="py-2">
            I'm always looking for exiting projects to work on in the .NET space, or anything interesting. Shoot me an email if you have any questions about web, consulting, 
            application development, or any new breweries you'd like to recommend (arguably of the most importance). Thanks for stopping by! 
        </div>
        <hr class="py-1" />
        <button class="btn btn-primary" onclick="window.open('mailto:joey.mckenzie27@gmail.com?subject=Hey Joey!&body=Let\'s grab a beer and talk all things web sometime.')">Contact Me</button>
    </div>
</div>
