@page "/"

<div class="d-flex flex-column justify-content-center">
    <div class="py-4">
        <About />
    </div>
    <div class="py-4">
        <Stack />
    </div>
    <div class="py-4">
        <Projects />
    </div>
</div>

