<div class="card text-center">
    <div class="card-header">
        <h2><code>Stack</code></h2>
    </div>
    <div class="card-body">
        <div class="py-1">
            <h4 class="card-title"><strong>Languages & Scripting</strong></h4>
            <div class="d-flex flex-row justify-content-center">
                <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/csharp.png" />
                </a>
                <a href="https://www.oracle.com/java/index.html" target="_blank">
                    <img src="img/stack/java.png" class="stack-image px-1" />
                </a>
                <a href="https://www.javascript.com/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/javascript.png" />
                </a>
                <a href="https://www.typescriptlang.org/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/typescript.jpeg" />
                </a>
            </div>
            <div class="d-flex flex-row justify-content-center py-2">
                <a href="https://www.python.org/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/python.png" />
                </a>
                <a href="https://www.rust-lang.org/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/rust-logo-blk.svg" />
                </a>
                <a href="https://www.w3.org/TR/html52/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/html5.png" />
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">
                    <img class="stack-image px-1" src="img/stack/css3.png" />
                </a>
            </div>
        </div>
        <div class="py-4">
            <h4 class="card-title"><strong>Databases</strong></h4>
            <div class="d-flex flex-row justify-content-center">
                <a href="https://docs.microsoft.com/en-us/sql/?view=sql-server-ver15" target="_blank">
                    <img class="stack-image px-1" src="img/stack/sql-server.png" />
                </a>
                <a href="https://www.ibm.com/analytics/db2" target="_blank">
                    <img src="img/stack/db2.png" class="stack-image px-1" />
                </a>
                <a href="https://www.postgresql.org/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/postgresql_logo-555px.png" />
                </a>
            </div>
        </div>
        <div class="py-4">
            <h4 class="card-title"><strong>Frameworks & Libraries</strong></h4>
            <div class="d-flex flex-row justify-content-center">
                <a href="https://dotnet.microsoft.com/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/dotnet-core-logo.png" />
                </a>
                <a href="https://spring.io/projects/spring-boot" target="_blank">
                    <img class="stack-image px-1" src="img/stack/spring.png" />
                </a>
                <a href="https://www.djangoproject.com/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/django.png" />
                </a>
                <a href="https://angular.io" target="_blank">
                    <img class="stack-image px-1" src="img/stack/angular.png" />
                </a>
            </div>
            <div class="d-flex flex-row justify-content-center py-2">
                <a href="https://getbootstrap.com/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/bootstrap.jpg" />
                </a>
                <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor" target="_blank">
                    <img class="stack-image px-1" src="img/stack/blazor-logo.png" />
                </a>
                <a href="https://material.io/design" target="_blank">
                    <img class="stack-image px-1" src="img/stack/material_design.jpg" />
                </a>
                <a href="https://jquery.com/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/jquery.gif" />
                </a>
            </div>
        </div>
        <div class="py-4">
            <h4 class="card-title"><strong>IDEs & Editors</strong></h4>
            <div class="d-flex flex-row justify-content-center">
                <a href="https://visualstudio.microsoft.com/vs/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/visual-studio.png" />
                </a>
                <a href="https://visualstudio.microsoft.com/vs/mac/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/vs-for-mac.png" />
                </a>
                <a href="https://code.visualstudio.com/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/vs-code.png" />
                </a>
                <a href="https://www.jetbrains.com/rider/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/rider.jpg" />
                </a>
            </div>
            <div class="d-flex flex-row justify-content-center py-2">
                <a href="https://www.jetbrains.com/idea/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/intellij.png" />
                </a>
                <a href="https://www.jetbrains.com/pycharm/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/pycharm.png" />
                </a>
                <a href="https://docs.microsoft.com/en-us/sql/azure-data-studio/what-is?view=sql-server-ver15" target="_blank">
                    <img class="stack-image px-1" src="img/stack/AzureDataStudioLogo.png" />
                </a>
                <a href="https://docs.microsoft.com/en-us/sql/ssms/sql-server-management-studio-ssms?view=sql-server-ver15" target="_blank">
                    <img class="stack-image px-1" src="img/stack/SQL-Server-Management-Studio-Icon.png" />
                </a>
            </div>
        </div>
        <div class="py-4">
            <h4 class="card-title"><strong>DevOps & Tools</strong></h4>
            <div class="d-flex flex-row justify-content-center">
                <a href="https://azure.microsoft.com/en-us/free/search/?&OCID=AID2000128_SEM_zDZwxvdT&MarinID=zDZwxvdT_79233574796207_windows%20azure%20com_be_c__1267736956989191_kwd-79233582895977:loc-190&lnkd=Bing_Azure_Brand&msclkid=7654ac39f90413a3c2edf2a44614f3da&ef_id=XkdTXgAAAI59tjuz:20200420152610:s&dclid=CjgKEAjwkPX0BRDDhrbJkdO7jlQSJABqre1SSlYgeFuJrw9pD5fw7kwXLb68_osptUTHOnK4Co9-6fD_BwE" target="_blank">
                    <img class="stack-image px-1" src="img/stack/azure.png" />
                </a>
                <a href="https://jenkins.io/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/jenkins.png" />
                </a>
                <a href="https://www.postman.com/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/postman.jpg" />
                </a>
                <a href="https://www.github.com/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/github.jpg" />
                </a>
                <a href="https://bitbucket.org/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/bitbucket.png" />
                </a>
            </div>
            <div class="d-flex flex-row justify-content-center py-2">
                <a href="https://www.atlassian.com/software/jira" target="_blank">
                    <img class="stack-image px-1" src="img/stack/jira.png" />
                </a>
                <a href="https://docs.microsoft.com/en-us/powershell/scripting/getting-started/getting-started-with-windows-powershell?view=powershell-7" target="_blank">
                    <img class="stack-image px-1" src="img/stack/powershell.png" />
                </a>
                <a href="https://git-scm.com/downloads" target="_blank">
                    <img class="stack-image px-1" src="img/stack/git-bash.jpg" />
                </a>
                <a href="https://slack.com/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/slack.jpg" />
                </a>
                <a href="https://filezilla-project.org/" target="_blank">
                    <img class="stack-image px-1" src="img/stack/filezilla.png" />
                </a>
            </div>
        </div>
    </div>
</div>