<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="d-md-flex d-block flex-row mx-md-auto mx-0">
        <a class="navbar-brand" href="#"><strong>Brewdude</strong>.tech</a>
    </div>
</nav>
